@import url('//cdn.rawgit.com/young-ha/webfont-archive/master/css/PureunJeonnam.css');
* {
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    min-height: 100%;
    margin: 0px auto;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
ul {
    list-style-type: none;
}

.bucketlist-header {
    font-size: 1.1rem;
    display: flex;
}

.bucketlist-header h2 {
    flex: 1;
}

.card {
    position: relative;
    width: 350px;
    height: 130px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotatey(0deg) translatex(0px) translatey(0px);
    transform: rotatey(0deg) translatex(0px) translatey(0px);
    -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin: 5px;
    cursor: pointer;
}

.card:hover {
    -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 12px rgba(0, 0, 0, .2);
}

.card.open {
    width: 400px;
    height: 460px;
    -webkit-transform: rotatey(-180deg) translatex(0px) translatey(0px);
    transform: rotatey(-180deg) translatex(0px) translatey(0px);
}

.card .front-facing {
    -webkit-transform: rotateY(0deg) translateZ(2px);
    transform: rotateY(0deg) translateZ(2px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ecf0f1;
    border: 2px white solid;
    border-radius: 5px;
}

.card .back-facing {
    -webkit-transform: rotateY(180deg) translateZ(0px);
    transform: rotateY(180deg) translateZ(0px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ecf0f1;
    border: 2px white solid;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}