body {
  background-image: linear-gradient(90deg, #ccc 5%, transparent 0), linear-gradient(#ccc 5%, transparent 0);
  background-size: 20px 20px;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;

  padding-top: 20rem;
  padding-left: 20rem;
  padding-right: 30rem;
  /* animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8.75rem;
  padding: 0.5rem 4rem 0.5rem 1rem;
  flex-wrap: wrap;
  border-bottom: 1px solid #606f7b;
  background-color: #fff;
}

header .title {
  width: 100%;
  font-size: 3.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

header .title a {
  padding: 0.25rem 0.5rem;
  font-style: italic;
}

header .theme-switcher {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  border-style: none;
  padding: 0.75rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: rgba(241, 245, 248, 1);
  border-radius: 9999px;
}

header .theme-switcher svg {
  height: 2rem;
  width: 2rem;
}

header nav {
  width: auto;
  padding-left: 0.5rem;
  font-style: italic;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  margin-left: -1rem;
}

header nav ul > li {
  font-size: 2.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.side-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 8.75rem;
  left: 0;
  bottom: 0;
  width: 15.625rem;
  border-right: 1px solid #606f7b;
  background-color: #fff;
  transform: translateX(-15.625rem);
  transition: all 0.5s ease;
  z-index: 2;
}

.side-bar-header {
  position: relative;
  margin: 2rem 0;
}

.side-bar-header-btn {
  position: absolute;
  top: 50%;
  right: 1rem;
  font-size: 1.8rem;
  background-color: transparent;
  transform: translateY(-50%);
}

.side-bar .main-category {
  overflow-y: auto;
  overflow-x: hidden;
}

.main-category-header {
  font-size: 1.4rem;
  font-style: italic;
  padding-left: 1.25rem;
}

.main-category > li {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid transparent;
}

.sub-category {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.sub-category-item a {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 2rem;
  margin-bottom: 1.1rem;
  color: #ccc;
  transition: 0.5s ease;
  height: 100%;
}

.sub-category-item > a.active {
  color: red;
}

.sub-category-item:hover a {
  color: #000;
  transition: 0.5s ease;
  border-left: 2px solid #000;
}

.sub-category-item a span {
  word-break: keep-all;
}

.sub-category-item-icon {
  font-size: 2rem;
}

.sub-category-item-text {
  margin-left: 1.5rem;
  transition: opacity 0.6s ease;
  opacity: 1;
}

.side-bar .tooltip {
  position: absolute;
  top: -2.1rem;
  left: 6.4rem;
  background-color: white;
  color: #000;
  border-radius: 0.4rem;
  padding: 0.5rem 0.9rem;
  font-size: 1.4rem;
  transition: 0s;
  opacity: 0;
  display: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.side-bar.collapse {
  width: 6.4rem;
}

.side-bar.collapse .tooltip {
  display: block;
}

.side-bar.collapse .main-category-header,
.side-bar.collapse .sub-category-item-text {
  opacity: 0;
}

.side-bar.collapse .side-bar-header-btn {
  right: 2.25rem;
}

.side-bar.collapse .main-category > li {
  border-bottom: 1px solid #ccc;
}

@media (min-width: 992px) {
  .side-bar {
    transform: translateX(0);
  }
}

.sub-header {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  top: 8.75rem;
  left: 0;
  background-color: rgba(241, 245, 248, 1);
  width: 100%;
  font-size: 1.5rem;
}

.filter-list-item:first-child {
  display: flex;
}

.filter-list {
  display: flex;
  font-size: 1.5rem;
}

.filter-list-item {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-list-item-text {
  margin-left: 1.5rem;
  display: none;
}

.filter-list-item-icon {
  font-size: 2rem;
}

.sub-header-layout-toggle-btn {
  display: none;
}

@media (min-width: 992px) {
  .side-bar.collapse + .sub-header {
    padding-left: 5rem;
  }

  .side-bar + .sub-header {
    padding-left: 15.625rem;
  }

  .filter-list-item {
    padding: 1rem 2rem;
  }

  .filter-list-item:first-child {
    display: none;
  }

  .filter-list-item-text {
    display: block;
  }

  .sub-header-layout-toggle-btn {
    padding: 2rem 4rem;
    display: flex;
  }
}

h1.category-title {
  font-size: 1.8rem;
}

h2.category-title {
  font-size: 1.5rem;
}

:target::before {
  content: '';
  display: block;
  height: 180px;
  margin-top: -180px;
}

.achievement-wrapper {
  padding: 1rem;
  border: 1px solid rgba(4, 13, 44, 0.8);
  background-color: #fff;
  box-shadow: 0.6rem 0.6rem 0 rgba(4, 13, 44, 0.14);
}

.achievement-wrapper dd {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.achievement-wrapper ul {
  margin-top: 1rem;
  margin-left: 1.2rem;
}

.achievement-title {
  font-weight: 700;
  font-size: 1.3rem;
}

.achievements-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 30px;
}

.achievements-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 1rem;
}

.achievements-list ul > li {
  display: flex;
  justify-content: space-between;
}
