@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');
@import 'https://unpkg.com/open-props/easings.min.css';

:root {
  --shadow-color-1: #b30000;
  --shadow-color-2: #ff8000;
  --shadow-color-3: #ffffaa;
  --shadow-color-4: #6cd900;
  --shadow-color-5: #008000;
  --shadow-color-6: #000000;
  --shadow-color-7: #404080;
  --shadow-color-8: #888888;

  --color-black-1: #000;
  --color-white-1: #fff;
  --color-gray-1: #ccc;
  --color-gray-2: #606f7b;
  --color-gray-3: #3d4852;

  --icon-fill: var(--color-white-1);
  --icon-fill-hover: #ffeb3b;

  --header-height: 12rem;
  --sub-header-height: 4.375rem;
  --expand-side-bar-with: 15.625rem;

  --light-bg: var(--color-white-1);
  --light-bg-grid: var(--color-gray-1);
  --light-text: var(--color-black-1);
  --light-text-alt: var(--color-white-1);
  --light-text-active: var(--color-gray-2);
  --light-text-inactive: #6f7682;
  --light-primary-color: #293c8b;
  --light-border: var(--color-black-1);
  --light-increase-color: #127904;
  --light-decrease-color: #b41c39;

  --dark-bg: #1e1e1e;
  --dark-bg-grid: var(--color-gray-3);
  --dark-text: #f8fafc;
  --dark-text-alt: var(--color-white-1);
  --dark-text-active: #f8fafc;
  --dark-text-inactive: #b8c2cc;
  --dark-bg-gray: var(--color-gray-3);
  --dark-border: var(--color-gray-3);
  --dark-increase-color: #39996a;
  --dark-decrease-color: #de599c;

  --text-color: var(--light-text);
  --text-alt-color: var(--light-text-alt);
  --text-active-color: var(--light-primary-color);
  --text-inactive-color: var(--light-text-inactive);
  --bg-color: var(--light-bg);
  --bg-grid-color: var(--light-bg-grid);
  --primary-color: var(--light-primary-color);
  --border-color: var(--light-border);
  --increase-color: var(--light-increase-color);
  --decrease-color: var(--light-decrease-color);
}

html {
  scroll-padding-top: calc(var(--header-height) + var(--sub-header-height) + 3rem);
}

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;

  background-color: var(--bg-color);
  background-image: linear-gradient(90deg, var(--bg-grid-color) 5%, transparent 0),
    linear-gradient(var(--bg-grid-color) 5%, transparent 0);
  background-size: 20px 20px;
  background-repeat: repeat;
}

[data-theme='dark'] {
  --text-color: var(--dark-text);
  --text-alt-color: var(--dark-text-alt);
  --text-active-color: var(--dark-text-active);
  --text-inactive-color: var(--dark-text-inactive);
  --bg-color: var(--dark-bg);
  --bg-grid-color: var(--dark-bg-grid);
  --primary-color: var(--dark-bg-gray);
  --border-color: var(--dark-border);
  --increase-color: var(--dark-increase-color);
  --decrease-color: var(--dark-decrease-color);
}

#theme-switch {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@media (min-width: 640px) {
  :root {
    --header-height: 8.75rem;
  }
}

#app {
  color: var(--text-color);
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: var(--header-height) var(--sub-header-height) auto;
  grid-template-columns: 0 auto;
  grid-template-areas: 'header header' 'side-bar sub-header' 'side-bar content';
}

header {
  grid-area: header;
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem 4rem 0.5rem 1rem;
  border-bottom: 1px solid var(--color-gray-2);
  background-color: var(--primary-color);
  min-height: var(--header-height);
  color: var(--text-alt-color);
}

header .title {
  width: 100%;
  font-size: 3.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

header .title a {
  padding: 0.25rem 0.5rem;
  font-style: italic;
}

.theme-switcher {
  display: flex;
  position: absolute;
  font-size: 2rem;
  top: 1rem;
  right: 1rem;
  color: var(--text-alt-color);
  inline-size: 2rem;
  block-size: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;
}

@media (hover: none) {
  .theme-switcher {
    font-size: 3rem;
    inline-size: 3rem;
    block-size: 3rem;
  }
}

.theme-switcher > svg {
  inline-size: 100%;
  block-size: 100%;
  stroke-linecap: round;
}

.sun-and-moon > .moon,
.sun-and-moon > .sun,
.sun-and-moon > .sun-beams {
  transform-origin: center center;
}

.sun-and-moon > .moon,
.sun-and-moon > .sun {
  fill: var(--icon-fill);
}

.sun-and-moon:hover > .moon,
.sun-and-moon:hover > .sun,
.sun-and-moon:focus-visible > .moon,
.sun-and-moon:focus-visible > .sun {
  fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.sun-and-moon:hover > .sun-beams,
.sun-and-moon:focus-visible > .sun-beams {
  stroke: var(--icon-fill-hover);
}

[data-theme='dark'] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[data-theme='dark'] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme='dark'] .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@supports (cx: 1) {
  [data-theme='dark'] .sun-and-moon > .moon > circle {
    transform: translateX(0);
    cx: 17;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sum-and-moon > .sun {
    transition: transform 0.5s var(--ease-elastic-3);
  }

  .sun-and-moon > .sun-beams {
    transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
  }

  .sun-and-moon > .moon > circle {
    transition: transform 0.25s var(--ease-out-5);
  }

  @supports (cx: 1) {
    .sun-and-moon > .moon > circle {
      transition: cx 0.25s var(--ease-out-5);
    }
  }

  [data-theme='dark'] .sun-and-moon > .sun {
    transform: scale(1.75);
    transition-timing-function: var(--ease-3);
    transition-duration: 0.25s;
  }

  [data-theme='dark'] .sun-and-moon > .sun-beams {
    transform: rotateZ(-25deg);
    transition-duration: 0.15s;
  }

  [data-theme='dark'] .sun-and-moon > .moon > circle {
    transition-delay: 0.25s;
    transition-duration: 0.5s;
  }
}

header nav {
  width: auto;
  padding-left: 0.5rem;
  font-style: italic;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  margin-left: -1rem;
}

header nav ul > li {
  font-size: 2.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.side-bar {
  grid-area: side-bar;

  position: fixed;
  top: var(--header-height);
  bottom: 0;
  z-index: 5;

  display: flex;
  flex-direction: column;
  width: var(--expand-side-bar-with);
  border-right: 1px solid var(--color-gray-2);
  background-color: var(--bg-color);

  transform: translateX(calc(var(--expand-side-bar-with) * -1));
  transition: all 0.7s ease;
}

.side-bar.open {
  transform: translateX(0);
}

.side-bar-backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.7s cubic-bezier(0.8, 0, 0.2, 1);
  pointer-events: none;
}

.side-bar.open + .side-bar-backdrop {
  opacity: 1;
  pointer-events: all;
}

.side-bar-close-btn {
  font-size: 2rem;
  border: 1px solid var(--text-color);
  line-height: 1.2rem;
  grid-area: close;
  transition: all 0.7s ease;
  opacity: 0;
  pointer-events: none;
  color: var(--text-color);
}

.side-bar.open .side-bar-close-btn {
  opacity: 1;
  pointer-events: all;
  transform: translateX(-4rem);
}

.side-bar-header {
  display: grid;
  grid-template-areas: 'close . collapse';
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray-2);
  margin-bottom: 2rem;
  height: var(--sub-header-height);
  padding: 1.2rem;
  background-color: var(--bg-color);
  align-content: center;
  justify-content: center;
  transition: all 0.7s ease;
}

.side-bar-header-btn {
  font-size: 1.8rem;
  background-color: transparent;
  display: block;
  transition: all 0.7s ease;
  border: 1px solid var(--text-color);
  line-height: 1.2rem;
  grid-area: collapse;
  opacity: 0;
  pointer-events: none;
  color: var(--text-color);
}

.side-bar .main-category {
  overflow-y: auto;
  overflow-x: hidden;
}

.main-category-header {
  font-size: 1.4rem;
  font-style: italic;
  padding-left: 1.25rem;
  font-weight: 700;
}

.main-category > li {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid transparent;
}

.sub-category {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.sub-category-item a {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 2rem;
  margin-bottom: 1.1rem;
  color: var(--text-inactive-color);
  transition: 0.5s ease;
  height: 100%;
}

.sub-category-item > a.active {
  color: var(--text-active-color);
  font-weight: 700;
}

.sub-category-item:hover a {
  color: var(--text-active-color);
  border-left: 2px solid var(--text-active-color);
}

.sub-category-item a span {
  word-break: keep-all;
}

.sub-category-item-icon {
  font-size: 2rem;
}

.sub-category-item-text {
  margin-left: 1.5rem;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.side-bar.collapse {
  width: 6.4rem;
}

.side-bar.collapse .main-category-header,
.side-bar.collapse .sub-category-item-text {
  opacity: 0;
}

.side-bar.collapse .side-bar-header-btn {
  transform: translateX(-1.2rem);
}

.side-bar.collapse .side-bar-close-btn {
  transform: translateX(1rem);
}

.side-bar.collapse .main-category > li {
  border-bottom: 1px solid var(--color-gray-1);
}

@media (min-width: 992px) {
  #app {
    grid-template-columns: var(--expand-side-bar-with) auto;
  }

  .side-bar {
    transform: translateX(0);
  }

  .side-bar-header-btn {
    opacity: 1;
    pointer-events: all;
    transform: translateX(4rem);
  }
}

.sub-header {
  grid-area: sub-header;
  position: fixed;
  display: flex;
  justify-content: space-between;
  transition: all 0.7s ease;
  top: var(--header-height);
  left: 0;
  z-index: 3;
  background-color: var(--bg-color);
  width: 100%;
  height: var(--sub-header-height);
  font-size: 1.6rem;
  border-bottom: 1px solid var(--color-gray-2);
}

@media (min-width: 992px) {
  .side-bar.collapse ~ .sub-header {
    width: calc(100% - 6.4rem);
  }

  .sub-header {
    width: calc(100% - var(--expand-side-bar-with));
  }
  .side-bar.collapse ~ .sub-header {
    left: 6.4rem;
  }

  .side-bar ~ .sub-header {
    left: var(--expand-side-bar-with);
  }
}

.filter-list {
  display: flex;
  font-size: 1.6rem;
}

.filter-list-item {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 2rem;
}

.filter-list-item.active {
  color: var(--text-active-color);
  font-weight: 700;
}

.filter-list-item-icon {
  color: inherit;
}

.filter-list-item:first-child {
  display: flex;
}

.filter-list-item-side-toggle-btn {
  color: var(--text-color);
}

.filter-list-item:hover {
  transition: 0.3s ease;
  border-bottom: 2px solid var(--text-active-color);
  font-weight: 700;
}

.filter-list-item:hover > * {
  color: var(--text-active-color);
}

.filter-list-item {
  color: var(--text-inactive-color);
}

.filter-list-item > a {
  display: flex;
  align-items: center;
}

.filter-list-item-text {
  margin-left: 1.5rem;
  display: none;
}

.filter-list-item-icon {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .filter-list-item {
    padding: 1rem 2rem;
    min-width: 12rem;
  }

  .filter-list-item:first-child {
    display: none;
  }

  .filter-list-item-text {
    display: block;
  }
}

.achievements-wrapper {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.category-title {
  display: flex;
  align-self: start;
}

h1.category-title {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2.category-title {
  font-size: 1.6rem;
}

.achievement-wrapper {
  transition-duration: 0.7s, 0.7s;
  transition-property: transform, opacity;
  transform: rotateX(0);
  opacity: 1;
}

.achievement-wrapper.tilt {
  transform: perspective(12rem) rotateX(30deg);
  opacity: 0;
}

.achievement-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-left: 1rem;
  word-break: keep-all;
  font-size: 1.2rem;
  font-style: italic;
}

.achievement-completed-date {
  flex-basis: 10rem;
  margin-right: 2rem;
  text-align: right;
}

.achievement-title {
  font-weight: 600;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.achievement-title > i {
  font-size: 1.6rem;
}

.achievements-list {
  display: grid;
  grid-gap: 3rem 3rem;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.achievements-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 1rem;
}

.achievements-list ul > li {
  display: flex;
  justify-content: space-between;
}

.front,
.back {
  padding: 2rem 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  backface-visibility: hidden;
  transition: transform 0.75s, box-shadow 0.5s, background-color 0.5s;
  grid-area: card;
  align-self: start;
}

.sub-achievements-list {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.8rem 1rem;
  align-items: center;
  margin: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-gray-2);
  font-size: 1.2rem;
}

.sub-achievement-title {
  display: flex;
  align-items: center;
}

.sub-achievement-title > i {
  font-size: 1.4rem;
}

.progress-bar {
  display: flex;
  grid-column: span 2;
  height: 4px;
  overflow: hidden;
  background-color: var(--color-gray-1);
}

.box-progress {
  display: block;
  height: 4px;
  background-color: var(--primary-color);
}

.sub-achievement-description {
  grid-column: span 2;
  padding-left: 1.25rem;
  font-style: italic;
}

.back {
  width: 100%;
  transform: rotateX(180deg);
}

.back img {
  max-inline-size: 50%;
  block-size: auto;
  object-fit: contain;
}

.achievement-wrapper {
  display: grid;
  grid-template-areas: 'card';
}

.achievement-wrapper.flipped {
  transform: scale(1.03);
  z-index: 2;
}

.achievement-wrapper:hover {
  z-index: 2;
}

/* @keyframes unhover {
  0% {
    z-index: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    z-index: 0;
  }
}

.achievement-wrapper:not(:hover) {
  animation: unhover 0.5s;
} */

.achievement-wrapper:nth-child(8n + 1):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-1);
}

.achievement-wrapper:nth-child(8n + 2):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-2);
}

.achievement-wrapper:nth-child(8n + 3):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-3);
}

.achievement-wrapper:nth-child(8n + 4):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-4);
}

.achievement-wrapper:nth-child(8n + 5):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-5);
}
.achievement-wrapper:nth-child(8n + 6):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-6);
}
.achievement-wrapper:nth-child(8n + 7):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-7);
}
.achievement-wrapper:nth-child(8n + 8):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-8);
}

.achievement-wrapper .front:not(:only-child) {
  cursor: pointer;
}

.achievement-wrapper.flipped .front:not(:only-child) {
  transform: rotateX(-180deg);
}

.achievement-wrapper.flipped .back {
  transform: rotateX(0);
}

.achievements-dashboard {
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  transition: transform 0.7s, box-shadow 0.7s;
}

.achievements-dashboard:hover {
  transform: scale(1.03);
  box-shadow: 0.6rem 0.6rem 0 #f8fafc;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

.achievements-dashboard:hover .year-status-item-type {
  animation: rotate 1s;
}

.achievements-dashboard-header {
  margin-bottom: 1.2rem;
}

.dashboard-title {
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
}

.total-status {
  display: flex;
  margin-bottom: 1.2rem;
}

.total-status .item-status {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.total-status .item-status .status-type {
  margin-bottom: 0.25rem;
}
.total-status .item-status .status-number {
  font-size: 2rem;
  font-weight: 700;
}

.year-status {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.year-status-item {
  display: flex;
  padding: 0.75rem;
  justify-content: space-evenly;
  gap: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  flex-basis: 13rem;
  flex: 1 1 40%;
}

@media (min-width: 1024px) {
  .year-status-item {
    flex: 0 0 20%;
  }
}

.year-status-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.year-status-item-type {
  color: var(--text-alt-color);
  border-radius: 0.25rem;
  padding: 0.125em 0.4em;
  background-color: var(--primary-color);
  word-break: keep-all;
}

.year-status-item-number {
  font-size: 2.4rem;
  font-weight: 700;
}

.year-status-item-trending {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year-status-item-trending-number {
  font-size: 1.2rem;
}

.trending-up .year-status-item-trending-icon,
.trending-up .year-status-item-trending-number {
  color: var(--increase-color);
  font-weight: 700;
}

.trending-down .year-status-item-trending-icon,
.trending-down .year-status-item-trending-number {
  color: var(--decrease-color);
  font-weight: 700;
}

.toast {
  visibility: hidden;
  min-width: 20rem;
  position: fixed;
  bottom: 3rem;
  font-size: 1.6rem;
  background-color: var(--bg-color);
  box-shadow: 0.6rem 0.6rem 0 var(--primary-color);
  border: 1px solid var(--primary-color);
  z-index: 6;
  justify-self: center;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 3rem;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 3rem;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 3rem;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 3rem;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: content;
  font-size: 2rem;
  height: calc(var(--header-height) + var(--sub-header-height));
}

.not-found-box {
  padding: 1.6rem;
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
  box-shadow: 0.6rem 0.6rem 0 var(--primary-color);
}
