:root {
  --shadow-color-1: #b30000;
  --shadow-color-2: #ff8000;
  --shadow-color-3: #ffffaa;
  --shadow-color-4: #6cd900;
  --shadow-color-5: #008000;
  --shadow-color-6: #000000;
  --shadow-color-7: #404080;
  --shadow-color-8: #888888;

  --color-black-1: #000;
  --color-white-1: #fff;
  --color-gray-1: #ccc;
  --color-gray-2: #f1f5f8;
  --color-gray-3: #606f7b;

  --header-height: 12rem;
  --sub-header-height: 4.375rem;
  --expand-side-bar-with: 15.625rem;
}

@media (min-width: 640px) {
  :root {
    --header-height: 8.75rem;
  }
}

#app {
  background-image: linear-gradient(90deg, var(--color-gray-1) 5%, transparent 0),
    linear-gradient(var(--color-gray-1) 5%, transparent 0);
  background-size: 20px 20px;
  background-repeat: repeat;
  overflow: auto;
  display: grid;
  grid-template-rows: var(--header-height) var(--sub-header-height) auto;
  grid-template-columns: 0 auto;
  grid-template-areas: 'header header' 'side-bar sub-header' 'side-bar content';
}

header {
  grid-area: header;
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem 4rem 0.5rem 1rem;
  border-bottom: 1px solid var(--color-gray-3);
  background-color: var(--color-white-1);
  min-height: var(--header-height);
}

header .title {
  width: 100%;
  font-size: 3.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

header .title a {
  padding: 0.25rem 0.5rem;
  font-style: italic;
}

header .theme-switcher {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  border-style: none;
  padding: 0.75rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: var(--color-gray-2);
  border-radius: 9999px;
}

header .theme-switcher svg {
  height: 2rem;
  width: 2rem;
}

header nav {
  width: auto;
  padding-left: 0.5rem;
  font-style: italic;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  margin-left: -1rem;
}

header nav ul > li {
  font-size: 2.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.side-bar {
  grid-area: side-bar;

  position: fixed;
  top: var(--header-height);
  bottom: 0;
  z-index: 3;

  display: flex;
  flex-direction: column;
  width: var(--expand-side-bar-with);
  border-right: 1px solid var(--color-gray-3);
  background-color: var(--color-white-1);

  transform: translateX(calc(var(--expand-side-bar-with) * -1));
  transition: all 0.7s ease;
}

.side-bar.open {
  transform: translateX(0);
}

.side-bar-dark {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.7s cubic-bezier(0.8, 0, 0.2, 1);
  pointer-events: none;
}

.side-bar.open + .side-bar-dark {
  opacity: 1;
  pointer-events: all;
}

.side-bar-close-btn {
  font-size: 2rem;
  border: 1px solid var(--color-black-1);
  line-height: 1.2rem;
  grid-area: close;
  transition: all 0.7s ease;
  opacity: 0;
  pointer-events: none;
}

.side-bar.open .side-bar-close-btn {
  opacity: 1;
  pointer-events: all;
}

.side-bar-header {
  display: grid;
  grid-template-areas: 'close . collapse';
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray-3);
  margin-bottom: 2rem;
  height: var(--sub-header-height);
  padding: 1.2rem;
}

.side-bar-header-btn {
  font-size: 1.8rem;
  background-color: transparent;
  display: block;
  transition: all 0.7s ease;
  border: 1px solid var(--color-black-1);
  line-height: 1.2rem;
  grid-area: collapse;
  opacity: 0;
  pointer-events: none;
}

.side-bar .main-category {
  overflow-y: auto;
  overflow-x: hidden;
}

.main-category-header {
  font-size: 1.4rem;
  font-style: italic;
  padding-left: 1.25rem;
}

.main-category > li {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid transparent;
}

.sub-category {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.sub-category-item a {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 2rem;
  margin-bottom: 1.1rem;
  color: var(--color-gray-1);
  transition: 0.5s ease;
  height: 100%;
}

.sub-category-item > a.active {
  color: var(--color-gray-3);
}

.sub-category-item:hover a {
  color: var(--color-gray-3);
  border-left: 2px solid var(--color-gray-3);
}

.sub-category-item a span {
  word-break: keep-all;
}

.sub-category-item-icon {
  font-size: 2rem;
}

.sub-category-item-text {
  margin-left: 1.5rem;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.side-bar.collapse {
  width: 6.4rem;
}

.side-bar.collapse .main-category-header,
.side-bar.collapse .sub-category-item-text {
  opacity: 0;
}

.side-bar.collapse .side-bar-header-btn {
  right: 2.25rem;
  transform: translateX(-1.2rem);
}

.side-bar.collapse .side-bar-close-btn {
  transform: translateX(1rem);
}

.side-bar.collapse .main-category > li {
  border-bottom: 1px solid var(--color-gray-1);
}

@media (min-width: 992px) {
  #app {
    grid-template-columns: var(--expand-side-bar-with) auto;
  }

  .side-bar {
    transform: translateX(0);
  }

  .side-bar-header-btn {
    opacity: 1;
    pointer-events: all;
  }
}

.sub-header {
  grid-area: sub-header;
  position: fixed;
  display: flex;
  justify-content: space-between;
  transition: all 0.7s ease;
  top: var(--header-height);
  left: 0;
  z-index: 1;
  background-color: var(--color-gray-2);
  width: 100%;
  height: var(--sub-header-height);
  font-size: 1.5rem;
  border-bottom: 1px solid var(--color-gray-3);
}

@media (min-width: 992px) {
  .side-bar.collapse ~ .sub-header {
    width: calc(100% - 6.4rem);
  }

  .sub-header {
    width: calc(100% - var(--expand-side-bar-with));
  }
  .side-bar.collapse ~ .sub-header {
    left: 6.4rem;
  }

  .side-bar ~ .sub-header {
    left: var(--expand-side-bar-with);
  }
}

.filter-list {
  display: flex;
  font-size: 1.5rem;
}

.filter-list-item {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 2rem;
}

.filter-list-item.active {
  color: var(--color-gray-3);
}

.filter-list-item:first-child {
  display: flex;
}

.filter-list-item:hover {
  transition: 0.3s ease;
  border-bottom: 2px solid var(--color-gray-3);
}

.filter-list-item:hover > * {
  color: var(--color-gray-3);
}

.filter-list-item:not(.active) {
  color: var(--color-gray-1);
}

.filter-list-item-text {
  margin-left: 1.5rem;
  display: none;
}

.filter-list-item-icon {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .filter-list-item {
    padding: 1rem 2rem;
    min-width: 12rem;
  }

  .filter-list-item:first-child {
    display: none;
  }

  .filter-list-item-text {
    display: block;
  }
}

.achievements-wrapper {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.achievements-content {
  width: 100%;
}

h1.category-title {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2.category-title {
  font-size: 1.5rem;
}

:target::before {
  content: '';
  display: block;
  height: 180px;
  margin-top: -180px;
}

.achievement-wrapper {
  transition-duration: 0.7s, 0.7s;
  transition-property: transform, opacity;
  transform: rotateX(0);
  opacity: 1;
}

.achievement-wrapper.tilt {
  transform: perspective(12rem) rotateX(30deg);
  opacity: 0;
}

.achievement-wrapper dd {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.achievement-wrapper ul {
  margin-top: 1rem;
  margin-left: 1.2rem;
  font-size: 1.25rem;
}

.achievement-title {
  font-weight: 700;
  font-size: 2rem;
}

.achievement-description {
  font-size: 1.25rem;
}

.achievements-list {
  display: grid;
  grid-gap: 3rem 3rem;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-auto-rows: 30px;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.achievements-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 1rem;
}

.achievements-list ul > li {
  display: flex;
  justify-content: space-between;
}

.front,
.back {
  padding: 2rem 1rem;
  border: 1px solid rgba(4, 13, 44, 0.8);
  background-color: var(--color-white-1);
  backface-visibility: hidden;
  transition: transform 0.75s, box-shadow 0.5s, background-color 0.5s;
  grid-area: card;
  align-self: start;
}

.back {
  width: 100%;
  transform: rotateX(-180deg);
}

.achievement-wrapper {
  display: grid;
  grid-template-areas: 'card';
}

.achievement-wrapper:nth-child(8n + 1):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-1);
}

.achievement-wrapper:nth-child(8n + 2):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-2);
}

.achievement-wrapper:nth-child(8n + 3):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-3);
}

.achievement-wrapper:nth-child(8n + 4):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-4);
}

.achievement-wrapper:nth-child(8n + 5):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-5);
}
.achievement-wrapper:nth-child(8n + 6):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-6);
}
.achievement-wrapper:nth-child(8n + 7):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-7);
}
.achievement-wrapper:nth-child(8n + 8):hover > * {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-8);
}

.achievement-wrapper:hover .front:not(:only-child) {
  transform: rotateX(-180deg);
}
.achievement-wrapper:hover .back {
  transform: rotateX(0);
}

.achievements-dashboard {
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid rgba(4, 13, 44, 0.8);
  background-color: var(--color-white-1);
  transition: box-shadow 0.5s;
}

.achievements-dashboard:hover {
  box-shadow: 0.6rem 0.6rem 0 var(--shadow-color-6);
}

@keyframes rotate {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

.achievements-dashboard:hover .year-status-item-type {
  animation: rotate 1s;
}

.achievements-dashboard-header {
  margin-bottom: 1.2rem;
}

.dashboard-title {
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
}

.total-status {
  display: flex;
  margin-bottom: 1.2rem;
}

.total-status .item-status {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.total-status .item-status .status-type {
  margin-bottom: 0.25rem;
}
.total-status .item-status .status-number {
  font-size: 2rem;
  font-weight: 700;
}

.year-status {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.year-status-item {
  display: flex;
  padding: 0.75rem;
  justify-content: space-evenly;
  gap: 1rem;
  border: 1px solid rgba(4, 13, 44, 0.8);
  background-color: var(--color-white-1);
  flex-basis: 13rem;
  flex: 1 1 40%;
}

@media (min-width: 1024px) {
  .year-status-item {
    flex: 0 0 20%;
  }
}

.year-status-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.year-status-item-type {
  border-radius: 0.25rem;
  padding: 0.125em 0.4em;
  background-color: var(--color-gray-2);
  word-break: keep-all;
}

.year-status-item-number {
  font-size: 2.2rem;
  font-weight: 700;
}

.year-status-item-trending {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year-status-item-trending-number {
  font-size: 1.2rem;
}

.trending-up .year-status-item-trending-icon,
.trending-up .year-status-item-trending-number {
  color: var(--shadow-color-4);
  font-weight: 700;
}

.trending-down .year-status-item-trending-icon,
.trending-down .year-status-item-trending-number {
  color: var(--shadow-color-1);
  font-weight: 700;
}
