@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

:root {
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 319px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  html {
    font-size: 9.5px;
  }
}
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  html {
    font-size: 10px;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  html {
    font-size: 10px;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  html {
    font-size: 10.5px;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  html {
    font-size: 10.5px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  html {
    font-size: 10.5px;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  html {
    font-size: 11px;
  }
}
